* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    width: 100px;
    float: left;
    margin-right: 20px;
}


body {
    font-family: Arial, sans-serif;
}

.container {
    width: 1000px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #000;
}

.cor {
    letter-spacing: 4px; 
    margin-top: 20px;
    font-size: 14px;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 100px;
    margin-right: 20px;
}

.text {
    text-align: center;
}

.reg {
    padding-left: 2%;
}

.red {
    color: red;
}


.student-info-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
}

.header-cell {
    background-color: #94a8ea;
    text-align: center;
    font-weight: bold;
    padding: 5px; 
    font-size: 15px;
    border: 1px solid black;
}

.student-info-table td {
    padding: 4px; 
    font-size: 13px; 
    border: none; 
}

.student-info-table tr.header-row td {
    border-bottom: 1px solid black; 
}

.student-info-table.last {
    border-top: none;
}

.student-info-table {
    border-bottom: none;
}

.student-info-table.last td {
    padding-left: 4px; 
    padding-right: 70px;
}

.student-info-table td:nth-child(1) { 
    white-space: nowrap; 
}

.student-info-table td:nth-child(2) {
    white-space: nowrap;
}

.student-info-table td:nth-child(3) {
    white-space: nowrap;
}

.subjects-head {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    font-size: 15px; 
    background-color: #94a8ea;
    border: none;
    padding: 0px;
    white-space: nowrap;
}

td {
    font-size: 15px; 
    border: none;
    padding: 4px;
    text-align: left;
    white-space: nowrap;
}

.unit-header {
    display: inline-block;
    text-align: center;
    margin-right: 2px;
    height: 30px;
    vertical-align: bottom;
    white-space: nowrap;
}

.sub-text {
    display: block; 
    font-size: 12px;
    margin-top: -3px;
}

.total {
    float: right;
    padding: 8px 20px;
}

.result {
    border-top: 1px solid black;
    padding-top: 5px;
}

.note {
    font-size: 13px;
}










